.navbar {
  background-color: #333333;
}

.navbar-brand img {
  width: 5rem;
}

.navbar-nav {
  padding-left: 2rem;
  li.nav-item {
    font-size: 1rem;
    padding: 0rem 1rem;
    a.nav-link {
      color: white;
      border-bottom: 0.1rem solid #333333;
    }
  }
}

.social-nav { 
  display: flex; 
  flex-flow: row nowrap;
}
